// This css file is used to overwrite the default styles for all 
// element UI components. 

// All element ui classes starts with a 'el' word. Take note
$--color-primary: #4c0a72;
$--color-success: #13ce66;
$--color-warning: #f7ba2a;
$--color-danger: #f73030;
$--color-info: #9539ca;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';
// @import 'element-ui/lib/theme-chalk/reset.css';

.el-header {
  padding: 0 0px;
  box-sizing: border-box;
  line-height: 50px;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 2px 10px rgb(0 0 0 / 8%);
  z-index: 500;
}

// menu items
.el-menu-item {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: bold;

  i {
    font-weight: bold;
    color: black;
  }
}
.el-submenu__title {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: bold;

  i {
    font-weight: bold;
    color: black;
  }
}

// button
.el-button {
  font-family: var(--font-primary) !important;
}

// form inputs
.el-form-item {
  &__label {
    font-size: 15px;
  }
}
.el-input {
  font-size: 16px;

  &__inner {
    height: 49px;
    line-height: 50px;
    font-family:var(--font-primary);
    border: 1px solid #9ca2b1;
  }
}
.el-input-number {
  line-height: 40px;
  // .el-input__inner {
  //  height: 42px;
  // }
}
.el-form--label-top .el-form-item__label {
  padding: 0 0 0 0 !important;
}
.el-textarea__inner {
  font-family: var(--font-primary);
  font-size: 16px;
  border: 1px solid #9ca2b1;
}

// dialogue
.el-dialog {
  border-radius: 0.5rem;
  background: #f8f8ff;

  &__header {
    background: #dcdcf5;
    border-radius: 0.5rem;

    .el-dialog__close {
      font-size: 19px;
      font-weight: bold;
      background: #eae9ff;
      border-radius: 15px;
      padding: 3px;
    }
  }

  &__footer {
    padding: 0;
  }
}

// table
.el-table thead {
  color: #595d64;
}
.el-table td.el-table__cell div {
  color: #39365c;
}
