:root {
  --text-base: #101011;
  --color-primary: #440a66;
  --text-white: #ffffff;
  --font-primary: busybCircular_std;
  --font-primary-bold: busybCircular_bold;
  --font-primary-md: busybCircular_med;
  --font-primary-light: busybCircular_light;
}

@font-face {
  font-family: 'busybCircular_bold';
  src: url('../fonts/CircularStd-Bold.otf');
}
@font-face {
  font-family: 'busybCircular_std';
  src: url('../fonts/CircularStd-Book.otf');
}
@font-face {
  font-family: 'busybCircular_med';
  src: url('../fonts/CircularStd-Medium.otf');
}
@font-face {
  font-family: 'busybCircular_light';
  src: url('../fonts/CircularStd-Light.otf');
}

html,
body {
  min-height: 100%;
  font-family: var(--font-primary), sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
i {
  font-weight: bold;
}
p {
  font-family: var(--font-primary-light), sans-serif;
  font-weight: bold;
}
b {
  font-family: var(--font-primary-md), sans-serif;
}
small {
  font-size: 13px;
}
h2 {
  font-size: 1.3rem;
  color: #171719;
}
h3 {
  font-size: 1.1rem;
}
h4 {
  font-size: 1rem;
}
hr.hr_rule {
  border: 0.5px solid #eeeaf9;
}
footer {
  padding: 7px;
  background: rgb(246, 240, 248);
}
footer p {
  font-size: 11px;
}
.text-black {
  color: var(--text-base);
}
.text-primary {
  color: var(--color-primary);
}
.clickable {
  cursor: pointer;
}

/* margin-top */
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}

/* margin-bottom */
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}

/* margin-left */
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}

/* margin-right */
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-30 {
  margin-right: 30px;
}

/* padding bottom */
.pb-10 {
  padding-bottom: 10px;
}
.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-10 {
  padding-top: 10px;
}
.center {
  text-align: center;
}

/* flex */
.d-block {
  display: block;
}
.d-flex {
  display: flex;
  align-items: center;
}
.d-flex_justify_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.d-flex_justify_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flex_align_center {
  display: flex;
  align-items: center;
}
.d-flex_column_center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.full_width {
  width: 100%;
}
.search_input_width.el-input {
  width: 80% !important;
}
.section_dashboard {
  margin-left: auto;
  margin-right: auto;
  max-width: 1350px;
  width: 100%;
  height: auto;
}
/* .category_circles {
  height: 25px;
  width: 25px;
  background-color: rgb(15, 13, 13);
  border-radius: 50%;
  display: inline-block;
} */
/* .cardBorderPrimary {
  border-top: 8px solid #3353ac !important;
} */
